<%- include ('../layouts/adminHeader.ejs') %>

  <h1>banner page</h1>
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link " href="/admin/products">
        <i class="bi bi-grid"></i>
        <span>Product</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link " href="/admin/users">
        <i class="bi bi-grid"></i>
        <span>User</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/category">
        <i class="bi bi-grid"></i>
        <span>Category</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link " href="/admin/banners">
        <i class="bi bi-grid"></i>
        <span>banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Order and Payment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Sales Report</span>
      </a>
    </li>
   
    
    
  </ul>

</aside>

<div class="card-body">
  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

  <table  style="margin-left: 25%;   width: 60%" class="table table-borderless datatable  ">
    <thead>
      <tr>
        <th scope="col">SI NO</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        
        <th scope="col">Image</th>
        <th scope="col">Action</th>
        
          <div class="buy-now" style="margin-right: 30p;">
            <a href="/admin/addBanners"><button type="submit" style="margin-left: 45%;" class="btn btn-success btn-buy-now"> ADD
                BANNER</button></a>
          </div>

      </tr>
    </thead>
    <tbody>
      <% if(banners.length> 0){ %>
        <% for(let i=1;i <=banners.length; i++){ %>
          <% if(banners[i-1].isAvailable==1){ %>
            <tr>
              <th>
                <%= i %>
              </th>
              <td>
                <%= banners[i-1].name %>
              </td>
             
              <td>
                <%= banners[i-1].price %>
              </td>
             
              <td>
                <% if(banners[i-1].image) { %>
                  <img src="/admin/banner/<%= banners[i-1].image %>" width="100vw" height="100vh">
                  <% }else{ %>
                    Image Not Found
                  <% } %>
                </td>
                <td>
                  <a class="text-success" href="/admin/edit-banner?id=<%= banners[i-1]._id %>"><i
                      style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>

                  <a onclick="return confirm('do you want to delete?')" class="text-danger"
                    href="/admin/delete-banner?id=<%= banners[i-1]._id %>"><i style="color: #ff0000;"
                      class="m-r-5 mdi mdi-border-color"></i>Delete</a><br>
                </td>

              </tr>
              <% } %>
                <% } } else{ %>
                  <tr>
                    <td colspan="5">Products Not Found</td>
                  </tr>
                  <% } %>

    </tbody>
  </table>
  

</div>

</div>
</div>
          <%- include ('../layouts/adminFooter.ejs') %>
           

          


