<%- include ('../layouts/adminHeader.ejs') %>

  
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link " href="/admin/products">
        <i class="bi bi-grid"></i>
        <span>Product</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link " href="/admin/users">
        <i class="bi bi-grid"></i>
        <span>User</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/category">
        <i class="bi bi-grid"></i>
        <span>Category</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link " href="/admin/banners">
        <i class="bi bi-grid"></i>
        <span>banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Order and Payment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Sales Report</span>
      </a>
    </li>
   
    
    
  </ul>

</aside>








<div class="card-body">
  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

  <table  style="margin-left: 25%;   width: 60%" class="table table-borderless datatable  ">
    <thead>
      <tr>
        <th scope="col">name</th>     
        
          <div class="buy-now" style="margin-right: 30p;">
            <a href="/admin/addCategory"><button type="submit" style="margin-left: 45%;" class="btn btn-success btn-buy-now"> ADD
                CATEGORY</button></a>
          </div>

      </tr>
    </thead>
    <tbody>
      <% if(users.length> 0){

        for(let i=0;i<users.length;i++){ %>
          <tr>
            <td>
              <%= users[i].name %>
            </td>
          
            <td>
              <a class="text-success" href="/admin/editCategory?id=<%= users[i]._id %>"><i
              style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>

             
              <% if(users[i].isAvailable){ %>
                
                <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#block"
                  onclick="del('<%- users[i]._id %>')">Block</button>
                <a id='<%- users[i]._id %>' href="/admin/blockCategory?id=<%= users[i]._id %>"
                  style="display: none">Block</a>
                <% } else{ %>
                  <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#unBlock"
                    onclick="del('<%- users[i]._id %>')">UnBlock</button>
                  <a id='<%- users[i]._id %>' href="/admin/blockCategory?id=<%= users[i]._id %>"
                    style="display: none">UnBlock</a>
                  <% } %>
            </td>
          </tr>
          <% } } else{ %>
            <tr>
              <td colspan="5">users not found </td>
            </tr>
            <% } %>
    </tbody>
  </table>
  

</div>

</div>
</div>
          <%- include ('../layouts/adminFooter.ejs') %>
           

          


