<%- include ('../layouts/adminHeader.ejs') %>
 
        <!-- ======= Sidebar ======= -->
<%- include ('../layouts/adminProfileLeft.ejs') %>
        
        <!-- End Sidebar-->
       
       
              <!-- Layout container -->
              <div class="layout-page" style="margin-left: 20%;">
                <!-- Navbar -->
      

                <% if(typeof message !=='undefined' ) { %>
                  <script>setTimeout(() => document.getElementById("addb").click(), 100)</script>
                  <%} %>
            
                    <div class="page-wrapper">
                      <div class="content-wrapper">
                        <div class="container-xxl flex-grow-1 container-p-y">
                          <div class="card">
                            <div class="card">
                              <div class="card-body">
                                <h4  style="margin-left: 5%; " class="card-title">Coupons</h4>
                                <div class="table-responsive">
                                  <table style="margin-left: 5%;   width: 60%" class="table table-hover  " style="table-layout: fixed;">
                                    <thead>
                                      <tr>
                                        <th scope="col">SI NO</th>
                                        <th scope="col">Coupon Name</th>
                                        <th scope="col">percentage</th>
                                        <th scope="col">maxDiscountValue</th>
                                        <th scope="col">MinDiscountValue</th>
                                        <th scope="col">CouponStartDate</th>
                                        <th scope="col">CouponExpiryDate</th>
                                        <th scope="col">Actions</th>
                                        
 

                                        
                    <div class="buy-now">
                      <button id="addb"  style="margin-left: 45%;" class="btn btn-success btn-buy-now"data-toggle="modal" data-target="#add">ADD COUPON</button>
                    </div>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% if( coupon.length> 0){ %>
                                        <% for(let i=1;i <=coupon.length; i++){ %>
                                          <tr 
                                            <% if( coupon[i-1].isAvailable == 0){%> style="background-color:rgba(178, 171, 171, 0.212)" <%}%>
                                            >
                                            <td scope="row">
                                              <%= i %>
                                            </td>
                                            <td>
                                              <%= coupon[i-1].name %>
                                            </td>
                                            <td>
                                              <%= coupon[i-1].discount %>%
                                            </td>
                                              <td>
                                                ₹ <%= coupon[i-1].max %> 
                                              </td>
                                              <td>
                                                ₹ <%= coupon[i-1].min %> 
                                              </td>
                                              <td>
                                                ₹ <%= coupon[i-1].created_at %> 
                                              </td> <td>
                                                ₹ <%= coupon[i-1].expiry_date %> 
                                              </td>
                                            <td>

                                              <a class="text-success" href="/admin/edit-coupon?id=<%= coupon[i-1]._id %>"><i
                                                style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>

                                                <% if(coupon[i-1].isAvailable){ %>
                
                                                  <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#block"
                                                    onclick="del('<%- coupon[i-1]._id %>')">Block</button>
                                                  <a id='<%- coupon[i-1]._id %>' href="/admin/blockCoupon?id=<%= coupon[i-1]._id %>"
                                                    style="display: none">Block</a><br>
                                                  <% } else{ %>
                                                    <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#unBlock"
                                                      onclick="del('<%- coupon[i-1]._id %>')">UnBlock</button>
                                                    <a id='<%- coupon[i-1]._id %>' href="/admin/blockCoupon?id=<%= coupon[i-1]._id %>"
                                                      style="display: none">UnBlock</a><br>
                                                    <% } %>
                          
                                             
                                             
                                                 
                                            </td>
                                          </tr>
                                          <% }} else { %>
                                            <tr>
                                              <td colspan="5">coupon Not Found</td>
                                            </tr>
                                            <% } %>
            
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                      aria-hidden="false">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">ADD COUPON</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="post" action="/admin/addCoupon">
                            <div class="modal-body">
                              <label class="form-label" for="form3Example3c">Add new coupon</label>
                              <input type="text" placeholder="coupon name" class="form-control" name="name"  required /> <br>
                              <input type="number" placeholder="offer price" class="form-control" name="discount"  required /> <br>

                              <input type="number" placeholder="Max Discount" class="form-control" name="maxDiscount"  required /> <br>
                              <input type="number" placeholder="Min Amount" class="form-control" name="minValue"  required /> <br>
                              
                              <label>
                                Enter Coupon Expiry Date:
                                <input type="date" name="expiryDate" />
                              </label>

                              <% if(typeof message !=='undefined' ) { %>
                                <p style="color: rgb(255, 0, 0); font-weight: bold">
                                  <%= message %>
                                </p>
                                <% } %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                              <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="false">
                    
                  </div>
               
      
                  <!-- Footer -->
      <%- include ('../layouts/adminFooter.ejs') %>
      