<%- include ('../layouts/adminHeader.ejs') %>

<%- include ('../layouts/adminProfileLeft.ejs') %>

            <!-- <form action="/admin/edit-product?id=<%-product._id%>" method="post" enctype="multipart/form-data"> -->
            <div style="padding-left: 30%;padding-right: 5%;" >
            <form action="/admin/edit-Coupon?id=<%-product._id%>" method="post">
            <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card mb-4">
              <h5 class="card-header">EDIT COUPON</h5>
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="html5-text-input" class="col-md-2 col-form-label">Coupon name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="<%-product.name%>" id="html5-text-input" name="name" />
                  </div>
                </div>
                
                
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Price</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" name="discount" value="<%-product.discount%>" id="html5-number-input" />
                  </div>
                </div>

                
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Max</label>
                  <div class="col-md-10">
                <input type="number" placeholder="Max Discount" class="form-control" name="maxDiscount"  value="<%-product.max%>" required /> <br>

                  </div>
                </div>
               
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Min</label>
                  <div class="col-md-10">
                    <input type="number" placeholder="Min Amount" class="form-control" name="minValue" value="<%-product.min%>" required /> <br>


                  </div>
                </div>
                <div class="mb-3 row">
                  <label>
                    Enter Coupon Expiry Date:
                  </label>
                  <div class="col-md-10">
                    <input type="date" name="expiryDate" value="<%-product.expiry_date%>" required />
                    


                  </div>
                </div>

              
              </div>
            </div>
            </div>
            </div>   
            <div class="buy-now">
              <button type="submit"  class="btn btn-success btn-buy-now">SAVE COUPON</button>
            </div> 
            </form>      
          </div>
          <%- include ('../layouts/adminFooter.ejs') %>