<%- include ('../layouts/adminHeader.ejs') %>

  
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link " href="/admin/products">
        <i class="bi bi-grid"></i>
        <span>Product</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link " href="/admin/users">
        <i class="bi bi-grid"></i>
        <span>User</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/category">
        <i class="bi bi-grid"></i>
        <span>Category</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link " href="/admin/banners">
        <i class="bi bi-grid"></i>
        <span>banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Order and Payment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Sales Report</span>
      </a>
    </li>
   
    
    
  </ul>

</aside>

<div class="card-body">
  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

  <table  style="margin-left: 25%;   width: 60%" class="table table-borderless datatable  ">
    <thead>
      <tr>
        <th scope="col">SI NO</th>
        <th scope="col">Name</th>
        <th scope="col">category</th>
        <th scope="col">Price</th>
        
        <th scope="col">Stock</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
        
          <div class="buy-now" style="margin-right: 30p;">
            <a href="/admin/addProducts"><button type="submit" style="margin-left: 45%;" class="btn btn-success btn-buy-now"> ADD
                PRODUCTS</button></a>
          </div>

      </tr>
    </thead>
    <tbody>
      <% if(products.length> 0){ %>
          <% for(let i=1;i <=products.length; i++){ %>
              <tr>
                <th>
                  <%= i %>
                </th>
                <td>
                  <%= products[i-1].name %>
                </td>
                <td>
                  <%= products[i-1].category %>
                </td>
                <td>
                  <%= products[i-1].price %>
                </td>
                <td>
                  <%= products[i-1].stock %>
                </td>
                <td>
                  <% if(products[i-1].image) { %>
                    <img src="/admin/uploads/<%= products[i-1].image %>" width="100vw" height="100vh">
                    <% }else{ %>
                      Image Not Found
                    <% } %>
                </td>
                <td>
                  <a class="text-success" href="/admin/edit-product?id=<%= products[i-1]._id %>"><i
                      style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>

                      <% if(products[i-1].isAvailable){ %>
                
                        <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#block"
                          onclick="del('<%- products[i-1]._id %>')">Block</button>
                        <a id='<%- products[i-1]._id %>' href="/admin/blockProduct?id=<%= products[i-1]._id %>"
                          style="display: none">Block</a>
                        <% } else{ %>
                          <button class=" blk btn-outline-danger" data-toggle="modal" data-target="#unBlock"
                            onclick="del('<%- products[i-1]._id %>')">UnBlock</button>
                          <a id='<%- products[i-1]._id %>' href="/admin/blockProduct?id=<%= products[i-1]._id %>"
                            style="display: none">UnBlock</a>
                          <% } %>


                  <a onclick="return confirm('do you want to delete?')" class="text-danger"
                    href="/admin/delete-product?id=<%= products[i-1]._id %>"><i style="color: #ff0000;"
                      class="m-r-5 mdi mdi-border-color"></i>Delete</a><br>
                </td>

              </tr>
                <% } } else{ %>
                  <tr>
                    <td colspan="5">Products Not Found</td>
                  </tr>
                  <% } %>

    </tbody>
  </table>
  

</div>

</div>
</div>


          <%- include ('../layouts/adminFooter.ejs') %>
           

          


