<%- include ('../layouts/usersProfileHeader.ejs') %>

          
 
 
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/orders">
        <i class="bi bi-grid"></i>
        <span>My Orders</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link " href="ts">
        <i class="bi bi-grid"></i>
        <span>Coupons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/cart">
        <i class="bi bi-grid"></i>
        <span>Cart</span>
      </a>
    </li>
    
    
    
    
    
  </ul>

</aside><!-- End Sidebar-->


              <!-- Layout container -->
              <div class="layout-page">
                <!-- Navbar -->
      
                <nav
                  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                  id="layout-navbar"
                 >
                  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                      <i class="bx bx-menu bx-sm"></i>
                    </a>
                  </div>
      
                  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                      <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input
                          type="text"
                          class="form-control border-0 shadow-none"
                          placeholder="Search..."
                          aria-label="Search..."
                          value="<%-val%>"
                        />
                      </div>
                    </div>
                    <!-- /Search -->
      
                   
                    </ul>
                  </div>
                </nav>

                <% if(typeof message !=='undefined' ) { %>
                  <script>setTimeout(() => document.getElementById("addb").click(), 100)</script>
                  <%} %>
            
                    <div class="page-wrapper">
                      <div class="content-wrapper">
                        <div class="container-xxl flex-grow-1 container-p-y">
                          <div class="card">
                            <div class="card">
                              <div class="card-body">
                                <h4  style="margin-left: 25%; " class="card-title">Coupons</h4>
                                <div class="table-responsive">
                                  <table style="margin-left: 25%;   width: 60%" class="table table-hover  " style="table-layout: fixed;">
                                    <thead>
                                      <tr>
                                        <th scope="col">Coupon Name</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% if( coupon.length> 0){ %>
                                        <% for(let i=1;i <=coupon.length; i++){ %>
                                          <tr 
                                            <% if( coupon[i-1].isAvailable == 0){%> style="background-color:rgba(178, 171, 171, 0.212)" <%}%>
                                            >
                                            
                                            <td>
                                              <%= coupon[i-1].name %>
                                                <%= coupon[i-1].discount %>

                                            </td>
                                            <td>
                                              </td>
                                            
                                          </tr>
                                          <% }} else { %>
                                            <tr>
                                              <td colspan="5">coupon Not Found</td>
                                            </tr>
                                            <% } %>
            
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                      aria-hidden="false">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">ADD COUPON</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="post" action="/admin/addCoupon">
                            <div class="modal-body">
                              <label class="form-label" for="form3Example3c">Add new coupon</label>
                              <input type="text" placeholder="coupon name" class="form-control" name="name"  required /> <br>
                              <input type="number" placeholder="offer price" class="form-control" name="discount"  required /> <br>
                              <% if(typeof message !=='undefined' ) { %>
                                <p style="color: rgb(255, 0, 0); font-weight: bold">
                                  <%= message %>
                                </p>
                                <% } %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                              <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="false">
                    
                  </div>
       
   